.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#LoanFormContainer {
    flex-direction: column;
    background-color: rgb(48, 10, 10);
    width: 100%;
    height: 100vh;
  }
  
#LoanForm {
    flex-direction: column;
    justify-content: start;
    background-color: rgb(175, 149, 149);
    width: 70%;
    height: 50%;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
  }

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    /* box-shadow: 0px 10px 1vh rgba(100, 40, 40, 0.71); */
    border-radius: 10px;
    /* background-color: rgba(112, 95, 95, 0.082); */
    padding-left: 1vh;
    padding-right: 1vh;
}  

input, select {
    width: 100%;
    height: 2vh;
    border: none;
}


#submitBtn {
    margin-top: 3vh;
    border: none;
    font-size: 20px;
    padding: 1vh;
    border-radius: 10px;
    background-color: rgb(77, 50, 50);
    color: white;
}

hr {
    width: 100%;
}

#modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.454);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-content {
    background-color: white;
    width: 90%;
    color: rgb(45, 169, 126);
    border-radius: 20px;
    box-shadow: 0px 2vh 2vh (0,0,0,0.4);
}